.form_hero {
    &__form {
        margin-top: 3rem;
    }
}

.ps_hero {
    &__form {
        background-color: var(--col-blue-400);
        padding: 1rem;
        h2 {
            color: var(--col-yellow-400);
        }
        .ps_hero__form_intro {
            color: var(--col-white);
        }

        .gform_button.button {
            width: 100% !important;
            background-color: var(--col-yellow-400) !important;
            color: var(--col-black) !important;
            font-weight: var(--fw-600) !important;
            text-transform: uppercase !important;
            border-radius: 0 !important;
            text-align: center !important;
        }
    }
}