.journey {
    h2 {
        position: relative;
        @media (min-width:768px) {
            min-height: 120px;
            display: flex;
            align-items: center;
            padding-inline-start: 3.5rem;
            width: min(800px,90vw);
            &::before {
                content: "";
                position: absolute;
                left: 0;
                width: 40px;
                height: 80px;
                background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_2' data-name='Layer 2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50.31 100.63'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %230073CC; stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cg id='NAV_BAR' data-name='NAV BAR'%3E%3Cpolygon class='cls-1' points='0 35.54 14.79 50.32 0 65.11 0 100.63 50.31 50.32 0 0 0 35.54'/%3E%3C/g%3E%3C/svg%3E");
            }
        }
    }

    ol {
        margin-bottom: 0;
        li {
            padding-bottom: 0.5rem;
            &::marker {
                color: var(--col-blue-400);
                font-weight: var(--fw-600);
            }
        }
    }
    
}