.button {
    display: inline-block;
    border-radius: 100vw;
    padding: 0.75rem 3rem;
    text-decoration: none;
    transition: color var(--transition);
    &:hover {
        color: var(--col-orange-400);
    }
}

.button-white {
    background-color: var(--col-white);
    color: var(--col-black);
}

.button-black {
    background-color: var(--col-black);
    color: var(--col-white);
}

.button-outline {
    background-color: transparent;
    border: 2px solid var(--col-black);
    color: var(--col-black);
}

.button-sm {
    padding: 0.5rem 2rem;
}

.link-arrow-inline {
    position: relative;
    text-decoration: none;
    color: var(--col-black);
    text-transform: uppercase;
    padding-left: 1.5rem;
    &::before {
        content: "\f061";
        font-weight: 600;
        font-family: var(--ff-fa);
        position: absolute;
        left: 0;
        transition: left var(--transition);
    }
    &:hover::before {
        left: 0.5rem;
    }
}