.has-grey-500-background-color,
.bg-grey-500 {
    background-color: var(--col-grey-500);
}

.bg-beige-400 {
    background-color: var(--col-beige-400);
}

.bg-blue-400 {
    background-color: var(--col-blue-400);
}
.bg-blue-500 {
    background-color: var(--col-blue-500);
}
.bg-beige-600 {
    background-color: var(--col-beige-600);
}
.bg-green-600 {
    background-color: var(--col-green-600);
}

.text-white {
    color: var(--col-white);
}