.sidebar_menu {
    position: sticky;
    top: 2rem;
    background-color: var(--col-grey-400);
    padding: 1rem 1rem 0.5rem 1rem;
    margin-bottom: 3rem;
    ul {
        list-style: none;
        padding-inline-start: 0;
    }
    li {
        border-top: 1px solid var(--col-grey-600);
    }
    a {
        display: block;
        font-weight: var(--fw-300) !important;
        color: var(--col-black);
        text-decoration: none;
        &:hover {
            color: var(--col-orange-400);
        }
        padding-block: 1rem;
        &[aria-current] {
            font-weight: var(--fw-400) !important;
        }
    }
    li.current-page-ancestor {
        a {
            font-weight: var(--fw-400) !important;
        }
    }
}